---
---

/* Kali Linux Specific Colors */
:root {
  --primary-color: #268bd2; 
  --terminal-green: #27e421; 
  --bg-color: #0f111a;
}

body {
  background-color: var(--bg-color);
  color: #d1d1d1;
  font-family: 'Source Code Pro', 'Courier New', monospace;
}

/* Make links look like terminal commands */
a {
  color: var(--primary-color);
}

a:before {
  content: "➜ ";
  color: var(--terminal-green);
}
